@font-face {
        font-family: 'DINpro';
        src: url(../fonts/DINPro.ttf) format('ttf'), url(../fonts/DINPro.woff) format('woff');
}

@font-face {
        font-family: 'Gilroy-light';
        src: url(../fonts/Gilroy-Light.ttf) format('ttf'), url(../fonts/Gilroy-Light.woff) format('woff');
}

.SecondTab {
        width: 100%;
        position: relative;
        top: -100vh;
        left: 100%;
        height: 100vh;
        background-image: url("../pics/SecondTab/bg.png");
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        color: black;
}

.hello {
        font-family: 'DINpro';
        font-size: 1.7rem;
        text-transform: uppercase;
        position: relative;
        top: 129px;
        left: 68px;
        letter-spacing: 1.5px;
}

.title {
        position: relative;
        width: 774px;
        height: 445px;
        font-family: 'Gilroy-light';
        z-index: 9;
        font-size: 1.5rem;
        top: 170px;
        left: 120px;
        text-align: left;
        overflow: scroll;
        overflow-x: hidden;
        direction: rtl;
        border: 25px solid;
        border-color: white;
        border-radius: 40px;
        padding: 10px;
        padding-top: 5px;
        background-color: white;
        line-height: 1.85rem;
        -webkit-box-shadow: 0px 0px 100px -17px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 100px -17px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 100px -17px rgba(34, 60, 80, 0.2);
}


input[type=range] {
        position: absolute;
        transform: rotate(90deg);
        top: 464px;
        left: -135px;
        width: 433px;
        -webkit-appearance: none;
}

input[type=range]:focus {
        outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        animation: 0.2s;
        background: #000000;
        border-radius: 37px;
}

input[type=range]::-webkit-slider-thumb {
        height: 20px;
        width: 105px;
        border-radius: 37px;
        background-image: url("../pics/SecondTab/btn.png");
        background-size: cover;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
        margin-left: -1px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
        background: #000000;
}

.Layer3C6,
.Layer3C2,
.Layer3C4,
.Layer3C3,
.Layer3C5 {
        position: absolute;
}

.Layer3C6 {
        top: 100px;
        left: 370px;
        animation: Layer3C6 3s ease 0s infinite normal none;

        img {
                width: 650px;
        }
}

.Layer3C2 {
        top: 90px;
        left: 580px;
        animation: Layer3C2 3s ease 0s infinite normal none;

        img {
                width: 450px;
        }
}

.Layer3C4 {
        top: 75px;
        left: 710px;
        animation: Layer3C4 3s ease 0s infinite normal none;

        img {
                width: 340px;
        }
}

.Layer3C3 {
        top: 410px;
        left: 888px;
        animation: Layer3C3 4s ease 0s infinite normal none;

        img {
                width: 140px;
        }
}

.Layer3C5 {
        top: 510px;
        left: 888px;
        animation: Layer3C5 4s ease 0s infinite normal none;

        img {
                width: 140px;
        }
}


::-webkit-scrollbar {
        display: none;
}

@keyframes Layer3C6 {

        0% {
                opacity: 0.3;
                transform: translate(62px, 38px);
        }

        100% {
                opacity: 1;
                transform: translate(0);
        }

}

@keyframes Layer3C2 {

        0% {
                opacity: 0.3;
                transform: translate(42px, 18px);
        }

        100% {
                opacity: 1;
                transform: translate(0);
        }

}

@keyframes Layer3C4 {

        0% {
                opacity: 0.07;
                transform: translate(62px, 38px);
        }

        100% {
                opacity: 1;
                transform: translate(0);
        }

}

@keyframes Layer3C3 {

        0% {
                opacity: 0.1;
                transform: translate(62px, 38px);
        }

        100% {
                opacity: 1;
                transform: translate(0);
        }

}

@keyframes Layer3C5 {

        0% {
                opacity: 0;
                transform: translate(102px, 38px);
        }

        100% {
                opacity: 1;
                transform: translate(0);
        }

}